.sectionCompanias{
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 50px;
    
}

.splide_companias{
  
    width: 65%;
border: 1px solid;
 }

.sectionCompanias a{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}




 .divTitleCompanias {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.splide__slide img {
    width: 100%;
    height: auto;
  }


  .logoRivadavia,
  .logoBoston,
  .logoExperta,
  .logoLPS,
  .logoSMG,
  .logoMapfre {

      width: 150px;
      height: auto;
      gap: 5px;
      justify-self: center;

    
  }
  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* IMAGENES DE LAS COMPAÑIAS */
  /*  .logoRivadavia{
     
  }
  .logoBoston{
  }
  .logoSMG{
    
  }
  .logoExperta{
    
  }
  .logoMapfre{
    
  } 
  .logoLPS{
     
  }
   */

