@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --varHeightNav: 60px;
    --varColorNav: #9cbed3;
    --varFont: 'Roboto', sans-serif;
}


body {
    margin: 0;
    padding: 0;
  
}



nav {
    z-index: 1;
    background-color: var(--varColorNav);
    width: 100vw;
    height: var(--varHeightNav);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.ulNav {
    display: flex;
    flex-wrap: wrap;

}

.ulNav li {
    list-style: none;

}


.navButton {
    background-color: var(--varColorNav);
    width: 200px;
    height: var(--varHeightNav);
    border: none;
}

.navButton:hover {
    transition: background-color 0.5s;
    background-color: #003049;
    color: wheat;
}



.navImg {
    width: 70px;
    height: var(--varHeightNav);
}

.navLink span {
    font-size: 17px;
    font-family: var(--varFont);

}

.sectionInicio,
.sectionSobreNosotros,
.sectionCompanias,
.sectionContacto {
    padding-top: var(--varHeightNav);
    height: 100vh;
    width: 100vw;
}

.sectionInicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid;
    background-color: #fff;
}



.imgLogo,
.fraseInicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fraseInicio p {
    font-size: 30px;
    width: 600px;
    font-family: var(--varFont);
}

.imgLogo:hover,
.fraseInicio:hover {
    transition: 1s;
    background-color: var(--varColorNav);
}

.imgLogo:hover .imgContainer {
    border-radius: 50%;
    background-color: #fff;
}

.fraseInicio:hover p {
    color: #fff;
}

/* .imgContainer {
       transform: skew(-11deg);
} */

.logo {
    width: 550px;
}

/* .imgLogo {

    position: relative;
      transform: skew(11.3deg); 
       transform-origin: bottom right; 
}

 */
/* .sectionCompanias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
} */


/* .imgCompanias {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(2, 200px); 
    gap: 70px;
    
    align-items: center;
} */


.divLogoImg{
    width: 250px;
    height: 250px;
}


/* SECCION SOBRE NOSOTROS */
.sectionSobreNosotros {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid;
}

.titleSobreNosotros {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.fraseSobreNosotros {
    font-family: var(--varFont);
    width: 800px;

}

.fraseSobreNosotros span {
    font-weight: bolder;
}


.sectionContacto {
    display: flex;
    justify-content: center;
    align-items: center;
}


.whatsapp,
.email,
.direccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid;
    margin: 10px;
    border-radius: 100px;
}

.whatsapp:hover,
.direccion:hover,
.email:hover {
    transition: all 0.5s;
    padding: 10px;
}

.whatsapp:hover {
    background-color: rgb(32, 128, 32);
    box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.email:hover {
    background-color: #3546dd;
    box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.direccion:hover {
    background-color: rgb(185, 31, 31);
    box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.whatsapp:not(:hover),
.email:not(:hover),
.direccion:not(:hover) {
    transition: 0.5s;
}

.whatsapp a,
.direccion a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.email span {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    font-family: var(--varFont);
    color: rgb(238, 234, 230);
}

.email:hover span {
    opacity: 1;

}




@media screen and (max-width: 1159px) {
    nav {
        width: 100vw;
    }

    .sectionInicio,
    .sectionSobreNosotros,
    .sectionCompanias,
    .sectionContacto {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .whatsapp,
    .email,
    .direccion {
        border-radius: 50px;
        width: 200px;
        height: 200px;
    }

   
}
