@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
    margin: 0;
    padding: 0;
   
}



nav{
     background-color: bisque;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
  
}

ul{
    display: grid;
    grid-template-columns: repeat(4,200px);
   gap: 10px;
}

ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navButton{
    background-color: bisque;
    width: 150px;
    height: 50px;
    border: none;
}

.navButton:hover{
    background-color: aliceblue;
}

.sectionInicio,
.sectionSobreNosotros,
.sectionCompanias,
.sectionContacto{
    padding-top: 50px;
    height:100vh;
    width: 100%;
}

.sectionInicio{   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid;
}


.imgLogo,.fraseInicio{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer {
    transform: skew(-11deg);
}

.logo{
    width:600px ;
}

.imgLogo{
    z-index: -1;
    position: relative;
    transform: skew(11.3deg);
    transform-origin: bottom right;
    background-color: rgb(239, 245, 245);
}
 

.sectionCompanias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-bottom: 1px solid;
}



.imgCompanias{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(2,200px);
    gap: 50px;
   
    align-items: center;
}


.logoRivadavia,
.logoBoston,
.logoExperta,
.logoLPS,
.logoSMG,
.logoMapfre{
    justify-self:center;
   
}

/* IMAGENES DE LAS COMPAÑIAS */
/*  .logoRivadavia{
   
}

.logoBoston{

}

.logoSMG{
  
}

.logoExperta{
  
}

.logoMapfre{
  
} 

.logoLPS{
   
}
 */

/* SECCION SOBRE NOSOTROS */
.sectionSobreNosotros{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid;
}

.titleSobreNosotros{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
}

.fraseSobreNosotros{
 
 width: 800px;

}


.sectionContacto{
    display: flex;
    justify-content: center;
    align-items: center;
}


.whatsapp,
.email,
.direccion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid;
    margin: 10px;
    border-radius: 100px;
}

.whatsapp:hover,
.direccion:hover,
.email:hover{
    transition:all 0.5s ;
    padding: 10px;
}

.whatsapp:hover{
   
   
    background-color: rgb(32, 128, 32);
    box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.email:hover{
    background-color: #3546dd;
    box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.direccion:hover{
    background-color: rgb(185, 31, 31);
    box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.whatsapp:not(:hover),
.email:not(:hover),
.direccion:not(:hover){
    transition: 0.5s;
}

.whatsapp a,
.direccion a{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}


.email span{
    opacity: 0;
    transition: all 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
    color: rgb(238, 234, 230);
}

.email:hover span {
    opacity: 1;

}
