*{
    margin: 0;
}

body{

}

#header{

}

nav{
     background-color: bisque;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
  
}

ul{
    display: grid;
    grid-template-columns: repeat(4,200px);
   gap: 10px;
}

ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navButton{
    background-color: bisque;
    width: 150px;
    height: 50px;
    border: none;
}

.navButton:hover{
   
    background-color: aliceblue;

}

.sectionInicio,
.sectionSobreNosotros,
.sectionCompañias,
.sectionContacto{
    height:100vh;
    width: 100%;
 
}



.sectionInicio{   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: 1px solid;
}


.imgLogo,.fraseInicio{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fraseInicio{
  
}

.sectionSobreNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}
